* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("../images/hypnotize.png");
  background-repeat: repeat;
  color: #777777;
}

.inner {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

.bigbody-container {
  flex: 1 0 auto;
  min-height: calc(100vh - 90px);
  padding-top: 130px;
  clear: both;
}


/* Header styling */
.masthead-container {
  position: fixed;
  z-index: 99;
  width: 100%;
  overflow: auto;
  background-color: white;
  border-bottom: 2px solid #ccc;
}

.masthead {
  margin-bottom: 2rem;
  font-family: 'Georgia', Times, "Times New Roman", serif;
  border-bottom: 2px solid #cccccc;
}

/* My name */
.masthead-brand {
  color: #ffffff;
  background-color: #4aaaa5;
  width: 250px;
  height: 90px;
  line-height: 90px;
  float: left;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  text-align: center;
}

.nav-masthead {
  float: right;
}

a+a {
  border-left: 1px solid #cccccc;
}

.nav-masthead .nav-link {
  float: left;
  text-align: center;
  align-items: center;
   margin: 39px 0; 
}

.nav-masthead a {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  clear: both;
  display: block;
  padding: 0px 16px;
  margin: 0 auto;
  text-decoration: none;
}

a:hover {
  background-color: #ddd;
  color: black;
}


/* Main Content */
.header2 {
  color: #4aaaa5;
  border-bottom: 3px solid #cccccc;
  padding-bottom: 30px;
  margin-bottom: 30px;
  font-family: 'Georgia', Times, "Times New Roman", serif;
  font-weight: 700;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  height: auto;
  min-height: 100%;
  flex: 1 0 auto;
  margin: auto;
  background: white;
  padding: 40px 30px 40px 30px;
  margin-bottom:  120px;
  border: 1px solid #dddddd;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  clear: both;
}

#profilepic {
  float: left;
  margin-right: 24px; 
  height: 200px;
  width: auto;
}


/* Portfolio text and pics styling */
.grid-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.portfoliopic {
  justify-content: space-around;
  height: 200px;
  width: 250px;
  margin-bottom: 60px;
  margin-right: 40px;
  position: relative;
}

.textoverpic {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Georgia', Times, "Times New Roman", serif;
    text-align: center;
    background-color: #4aaaa5;
    width: 250px;
    color:  white;
    padding: 10px;
}


/* Contact form styling */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  /** width: 100%; **/
  background-color: #4aaaa5;
  color: white;
  padding: 14px 25px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.talltextbox{
  height: 180px;
}


/* Footer */
.footer {
  flex-shrink: 0;
  background-color: #666666;
  border-top: 6px solid #4aaaa5;
  text-align: center;
  color: white;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 1px;
  font-size: 10px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.footer-container {
  width: auto;
  max-width: 960px;
}


@media screen and (max-width: 640px) {
  
  /* Header is static to scroll with rest of the body */
  .header {
    position: static;
    margin-bottom: 0px;
  }


  body .inner {
    width: 100%;
    margin: 0;
  }

  /* Extend name across the entire top */
  .masthead-brand {
    float: left;  
    width: 100%;
    margin: 0;
  }

  /* centering the links */
  .inner nav {
    float: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }

  .nav-masthead .nav-link {
    float: left;
    margin: 30px 0; 
  }

  body .bigbody-container {
    width: 97%;
    margin: 15px;
    padding-top: 210px;
  }
}